* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Tilt Neon', sans-serif;
}

body {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Tilt Neon', sans-serif;
    text-align: center;

}

header {
    background-color: #0d1321;
    height: 8vh;
    color: #f0ebd8;

}

main {
    background-color: #3e5c76;
    min-height: 100vh;
    display: flex;
    flex-direction: column;


}

#question-area {
    background-color: #f0ebd8;
    width: 80vw;
    height: 35vh;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid #0d1321;
    align-items: baseline;
    margin-top: 4rem;

}

.btn {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin-top: 0.75rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid #0d1321;


}

.btn i {
    font-size: 2rem;
}

.btn i,
p {
    color: #0d1321;
}

.hide {
    display: none !important;
}

#alternative-inputs {
    margin-bottom: 1rem;

}

/* style for email form */
#sendEmail {
    background-color: #1d2d44;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;

    height: 25vh;
    border: 3px double #f0ebd8;
}

#email-result {
    max-width: 20vw;
    margin: 1rem auto;
    background-color: #f0ebd8;
    border: 2px solid #1d2d44;
    font-family: 'Tilt Neon', sans-serif;
}

#send {
    background-color: #f0ebd8;
    border: 2px solid #1d2d44;
    font-family: 'Tilt Neon', sans-serif;
    padding: 0.25rem;
    margin-top: 1rem;
    border: 2px solid #0d1321;
}

#alternative-button {
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0ebd8;
    color: #0d1321;
    height: 5vh;
    font-family: 'Tilt Neon', sans-serif;
    border: 2px solid #0d1321
}

#alternatives-size {
    background-color: #f0ebd8;
    width: 50vw;
    margin-right: auto;
    margin-left: auto;
    height: 5vh;
    font-weight: 500;
    font-family: 'Tilt Neon', sans-serif;
    margin-top: 1rem;
    border: 2px solid #0d1321;
}

#scale-size {
    justify-content: center;
    background-color: #f0ebd8;
    width: 32vw;
    margin-right: auto;
    margin-left: auto;
    height: 5vh;
    font-weight: 500;
    font-family: 'Tilt Neon', sans-serif;
    margin-top: 1rem;
    border: 2px solid #0d1321;
}

#scale-button {
    width: 22vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0ebd8;
    color: #0d1321;
    height: 5vh;
    font-family: 'Tilt Neon', sans-serif;
    border: 2px solid #0d1321
}

#scale-input {
    margin-bottom: 1rem;
    width: 80vw;
}


#submit {
    width: 15vw;
    align-self: center;
    background-color: #f0ebd8;
    border: 2px solid #0d1321;
    color: #0d1321;
    margin-top: 1rem;
    font-family: 'Tilt Neon', sans-serif;
}

button>p {
    font-weight: 700;
}

input {
    background-color: #f0ebd8;
    margin-top: 1rem;
    border-radius: 10%;
    border: 2px solid #0d1321;
    height: 1.5rem;

}

h1 {
    font-size: 3rem;
}

/* #question-area {
    background-color: #f0ebd8;
    width: 70vw;
    height: 25vh;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid #0d1321;
    border-top: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.btn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 5rem;
    max-height: 5rem;
    justify-content: space-around;
    margin-right: 2rem;

}
 */
#displayQnA {
    border: 4px solid #f0ebd8;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    min-height: 10vh;
    margin-top: 0.5rem;
    color: #f0ebd8;
    font-size: 0.75rem;

}

h3 {
    color: #f0ebd8;
    margin-top: 2.5rem;
}

ol {
    padding: 1rem;
    margin: 1rem;
}

li {
    margin-bottom: 1rem;
}

#close-btn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0.5rem;
    margin-top: 0.5rem;


}

.fa-circle-xmark {
    font-size: 1rem;
    margin: 0;
    font-weight: 500;
    color: #f0ebd8;

}

footer {
    height: 7vh;
    background-color: #1d2d44;
}

@media screen and (max-height:812px) {
    #question-area {
        height: 45vh;

    }

    #question-area>* {
        color: #0d1321;
    }

    #displayQnA {
        margin-bottom: 2rem;
    }

    header {
        height: 10vh;
    }

    #scale-size {
        color: #0d1321;
    }

    #alternatives-size {
        color: #0d1321;
    }

    #sendEmail {
        min-height: 15vh;
    }

    #send {
        color: #0d1321;
    }

    #email-result {
        color: #0d1321;
    }

}

/* tablets  */
@media screen and (min-width: 768px) {
    #question-area {
        width: 60vw;
    }

    .btn {
        margin-right: 2rem;
        margin-left: 2rem;
        margin-top: 0.75rem;
    }

    input {
        width: 30vw;
    }

    #submit {
        width: 10vw;
        height: 4vh;
    }

    #sendEmail {
        width: 40vw;
    }

    #email-result {
        padding: 4px;
    }
}

/* Large phone or Landscape mode */
@media screen and (min-width: 844px) {
    #question-area {
        block-size: fit-content;
        width: 95vw;
    }

    .btn {
        margin-bottom: 2rem;
    }

    header {
        block-size: fit-content;
    }

}

/* Laptop */
@media screen and (min-width: 992px) {
    #question-area {
        background-color: #f0ebd8;
        width: 60vw;
        height: 35vh;
        margin-left: auto;
        margin-right: auto;
        border: 4px solid #0d1321;
        align-items: baseline;
        block-size: fit-content;

    }

    #input-area {
        display: flex;
        flex-direction: column;
        width: 33vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3rem;
    }

    .btn {
        margin-top: 3rem;
        padding: 3rem;
        width: 12rem;
        text-align: center;
        height: 12rem;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        border: 4px solid #0d1321;

    }

    .btn:hover {
        background-color: rgba(13, 19, 33, 0.5);
    }

    i {
        font-size: 3rem;

    }

    #submit {
        background-color: #f0ebd8;
        padding: 1rem;
        border: 1px solid #0d1321;
        padding: 0 2rem;
        width: 5vw;
        margin-top: 1rem;
    }

    input {
        align-self: center;
    }

    #displayQnA {
        font-size: 1rem;
        width: 50vw;
    }

    #alternatives-size {
        margin-left: auto;
        margin-right: auto;
        width: 20vw;
    }

    #alternative-button {
        width: 5vw;
    }

    #scale-button {
        width: 8vw;
    }

    #scale-size {
        height: 5vh;
        width: 20vw;
    }

    #scale-input {
        width: 30vw;
    }

    #sendEmail {
        width: 30vw;
    }

    #email-result {
        padding: 4px;
    }

    #sendEmail>input {
        width: 15vw;
        margin-top: 2rem;

    }

    #send {
        padding: 4px 1rem;
    }


    footer {
        height: 7vh;
        background-color: #1d2d44;
    }
}